<div class="row formCon">
 <div class="twelve">
    <h4>控制面板<small>(xyz@ss.com)</small></h4>
    <dl class="tabs">
      <dd class="active"><a href="#customer">我是客户</a></dd>
      <dd><a href="#peiyinshi">我是配音师</a></dd>
    </dl>
    <ul class="tabs-content">
      <li class="active" id="customerTab">
        <div data-alert class="alert-box warning radius">
          您尚未开通“客户功能”， 如需开通， <a href="#">点这里</a>
        </div>

        <div class="panel">
          <dl class="sub-nav">
            <dd><a href="#">收藏的样音</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">修改注册资料</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">站内通知</a></dd>
          </dl>
          <h5>您的项目</h5>
          <dl class="sub-nav">
            <dd><a href="#"><i class="fa fa-plus-square"></i> 上传新文案</a></dd>
            <dd>|</dd>
            <dd><a href="#"><i class="fa fa-search"></i> 搜索我们的样音</a></dd>
          </dl>
          <table width="100%">
            <thead>
              <tr>
                <th width="60"></th>
                <th class="text-center">项目名称</th>
                <th width="100"></th>
                <th width="100"></th>
              </tr>
            </thead>
            <tbody>
							<?php foreach ($projects as $project):?>
              <tr>
                <td class="text-center"> <span class="label success round"><?=$lang['project_type'][$project->type]?></span></td>
                <td><a href="#"><?=$project->title?></a></td>
                <td class="text-center"><a href="#" class="button small radius"><?=$lang['project_status'][$project->status]?></a></td>
                <td class="text-center"><a href="#" class="button small alert radius"><i class="fa fa-trash-o"></i> 删除</a></td>
              </tr>
							<?php endforeach;?>
              <tr>
            </tbody>
          </table>
         </div>
      </li>




      <li id="peiyinshiTab" style="display:none;">
        <div data-alert class="alert-box warning radius">
          您尚未开通“配音师功能”， 如需开通， <a href="#">点这里</a>
        </div>
         <div class="panel">
          <dl class="sub-nav">
            <dd><a href="#">参与的项目</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">我的样音</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">修改报价</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">修改注册信息</a></dd>
            <dd class="cOrange">|</dd>
            <dd><a href="#">站内通知</a></dd>
          </dl>
          <h5>需求文案列表</h5>
          <table width="100%">
            <thead>
              <tr>
                <th width="60"></th>
                <th>文案名</th>
                <th width="100">字数</th>
                <th width="250">您的报酬</th>
                <th width="100"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"> <span class="label success round">竟配</span></td>
                <td><a href="#">房地产文案</a></td>
                <td>236</td>
                <td>试音20元+全稿500元</td>
                <td class="text-center"><a href="#" class="button small alert radius">关闭</a></td>
              </tr>
              <tr>
                <td class="text-center"> <span class="label alert round">竟配</span></td>
                <td><a href="#">房地产广告</a></td>
                <td>236</td>
                <td>试音20元+全稿500元</td>
                <td class="text-center"><a href="#" class="button small success radius">进行中</a></td>
              </tr>

              <tr>
            </tbody>
          </table>
         </div>
         <div class="row">
            <div class="twelve text-center">
              <button type="submit" class="button radius btLarge centered">登入</button>
              <br/><br/>
              <a href="#" style="margin-top:10px;margin-left:10px;">忘记密码?</a>
            </div>
         </div>
      </li>
    </ul>
 </div>
</div>
