<footer>
<div class='row'>
 <div class='three columns'><img src='/images/logo2.png' alt='591配音网' /></div>
 <div class='nine columns'>
   <nav>
    <dl class="sub-nav">
      <dd><a href="#">首页</a></dd>
      <dd><a href="#">上传文案</a></dd>
      <dd><a href="#">配音试听</a></dd>
      <dd><a href="#">音乐音效</a></dd>
      <dd><a href="#">联系我们</a></dd>
      <dd><a href="#">我的收藏</a></dd>
    </dl>
   </nav>
   <p>COPYRIGHT(C) 591PEI.COM</p>
 </div>
</div>
</footer>

<!-- Included JS Files (Compressed) -->
<script src="/js/foundation.min.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/jquery.validate.message_cn.js"></script>

<!-- Initialize JS Plugins -->
<script src="/js/app.js"></script>

</body>
</html>