<div class='row formCon'>
 <div class='twelve'>
    <h4 class='text-center'>找回密码:</h4>
    <div class='row panel'>
      <form>
				<div class='row'>
				<div class='three columns'>
					<label class='right inline'>电子邮箱 * ：
				</div>
				<div class='nine columns'>
					<input type="email" required="required">
				</div>
				</div>
				<div class='row'>
				<div class='twelve text-center'>
				  <button type='submit' class='button radius btLarge centered'>继续</button>
				</div>
				</div>
      </form>
    </div>
 </div>
</div>
