<div class='indexPart1'>
 <div class='row'>
    <div class='twelve'>
      <h4>一个好文案，需要一个好配音。</h4>
      <p class='indexPart1Desc'>您可以在591PEI配音网得到最满意的广告配音，专题片配音，房地产配音，微电影，预告片等配音服务。 保证您最大限度的满意。</p>
      <ul class='indexPart1DescList'>
        <li class='indexPart1DescList1'>我们有顶尖的配音团队，致力于其中，高端领域的配音服务。</li>
        <li class='indexPart1DescList2'>您可以让多个配音师参与<a href='#'>文案竞标</a></li>
        <li class='indexPart1DescList3'>保证您最大限度的满意。</li>
      </ul>
      <div class='indexPart1Media'>
        <a href='#' class='indexPart1MediaLink'>试听样音</a>
        <a href='#' class='indexPart1MediaDouban'>豆瓣</a>
        <a href='#' class='indexPart1MediaKaixin'>开心网</a>
        <a href='#' class='indexPart1MediaWeibo'>新浪微博</a>
        <a href='#' class='indexPart1MediaQQ'>QQ</a>
      </div>
    </div>
</div>
<div class='indexPart2'>
<div class='row'>
  <div class='twelve'>
    <div class='indexPart2Tit'><h4>选择配音流程</h4></div>
    <div class='row indexPart2Steps'>
      <div class='four columns'>
        <div class='indexPart2Step1'>
          <h5><a href='#' class='cWhite'>试听样音</a></h5>
          <p>通过试听网站样音来选择<br/>配音师<br/>时间： 1-2天</p>
          <a href='#'>工作流程</a>
        </div>
      </div>
      <div class='four columns'>
        <div class='indexPart2Step2'>
          <h5><a href='#' class='cWhite'>快速获得配音</a></h5>
          <p>我们为您挑选最合适的<br/>配音师<br/>时间：数小时内</p>
          <a href='#'>工作流程</a>
        </div>
      </div>
      <div class='four columns'>
        <div class='indexPart2Step3'>
          <h5><a href='#' class='cWhite'>配音文案竞标</a></h5>
          <p>通过配音竞标来选择<br/>配音师<br/><span class='cRed'>最划算，最高满意度模式</span></p>
          <a href='#'>工作流程</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class='indexPart3'>
  <div class='row'>
    <div class='twelve'>
      <div class='indexPart3Tit text-center'><h4 class='cOrange'>为什么选择591PEI配音网？</h4></div>
      <ul class='indexPart3List'>
        <li>所有的配音演员都有专业的工作室和设备。</li>
        <li>我们是一家挑剔的配音网站，加入本站的配音演员都是众里挑一的。</li>
        <li>所有的音频质量都有591PEI网站的配音导演严格把关。</li>
        <li>591PEI配音网站不仅提供配音服务，更可以提供<a href='#'>音乐编辑</a>，<a href='#'>音效编辑</a>，<a href='#'>后期合成</a>等服务。</li>
        <li>我们是高品质，高效率，高热忱的“三高”团队。<a href='#'>联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
<div class='indexPart4'>
  <div class='row'>
    <div class='six columns text-center'><a href='#'><img src='images/iconTel.png' alt='联系我们' /></a></div>
    <div class='six columns text-center'><a href='#'><img src='images/iconMic2.png' alt='加入我们' /></a></div>
  </div>
</div>

