<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
    <title>591配音网</title>
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery.js"></script>
	<script src="/js/modernizr.foundation.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/591.css" />
  </head>
  <body>
   <header>
    <div class="row">
      <div class='eight columns text-left'>
        <h1><a href='#'><img src='/images/logo.png' alt='591配音网' /></a></h1></h1>
      </div>
      <div class='four columns text-right'>
        <h4>联系电话：138-6805-7421</h4>
        <a class='button radius headerFAQBt' href='#'><img src='/images/iconQQ.png' alt='QQ' /> 在线咨询</a>
      </div>
    </div>
    <nav class='row'>
      <dl class="sub-nav twelve">
        <dd class='navMic first-child'><a href="#"><i class="fa fa-microphone"></i></a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="/">首页</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="<?=$this->config->item('url_create_project')?>">上传文案</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="#">配音试听</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="#">音乐音效</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="#">联系我们</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="<?=$this->config->item('url_user_dashboard')?>">控制面板</a></dd>
        <dd class='sepLine'></dd>
        <dd><a href="#">我的收藏</a></dd>
        <dd class='sepLine'></dd>
        <dd class='last-child'>
        	<?php if ($this->ion_auth->logged_in()): ?>
        	<a href="<?=$this->config->item('url_logout')?>">退出</a>
        	<?php else: ?>
        	<a href="<?=$this->config->item('url_login')?>">注册/登入</a>
        	<?php endif; ?>
        </dd>
      </dl>
    </nav>
   </header>